:root
{
    --redish : #ff0022;
    --lightblueish : #edfdfb;
    --mygrey : #b9bab8;
    --mypink :#f8e9f2;
    --myblack : #04030f;
    
}

*{
    padding: 5px;
    margin: 5px;
}

body
{
    background-color: var(--mypink);
}

li{
    display: inline;
    color: brown;
    border: 10px double black ;
}

#main_header{
    color: red;
    
}

#submit{
    background-color: greenyellow;
}

label,input
{
    color: rgb(255, 127, 219);    
}

a:link {
    color: blue;
}
a:visited
{
}
a:hover
{
    background-color: blue;

}
input[name]
{
    background-color: yellow;
}