*{
    margin: 5px;
    padding: 5px;
    color: black;
}

li{
    display: inline;
    color: brown;
    border: 10px double black ;
}

#main_header{
    color: red;
    
}

#submit{
    background-color: greenyellow;
}

label
{
    color: rgb(255, 127, 219);
}